
:root {
    --colorHotPinkest: #f20089;    
    --colorHotPinkr: #e500a4;    
    --colorDbz: #db00b6;    
    --colorBubbleBobble: #d100d1;    
    --colorGlamorousGoo: #bc00dd;    
    --colorBerryGum: #b100e8;    
    --colorVelvetUnderground: #a100f2;    
    --colorPurpleTrouble: #8900f2;    
    --colorPurpleRain: #6a00f4;    
    --colorIndigogo: #2d00f7;    
    --colorArtic: #00d9f7;    
}