.typographyGame48 
 {
  
  font-family: "Game Played";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyGame36 
 {
  
  font-family: "Game Played";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyGame24 
 {
  
  font-family: "Game Played";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  letter-spacing:  
  0.01em;
  text-indent: 0px;
  
}    

.typographyGame20 
 {
  
  font-family: "Game Played";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing:  
  0.01em;
  text-indent: 0px;
  
}    

.typographyGame16 
 {
  
  font-family: "Game Played";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing:  
  0.01em;
  text-indent: 0px;
  
}    

.typographyGame14 
 {
  
  font-family: "Game Played";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing:  
  0.01em;
  text-indent: 0px;
  
}    

